@import "tailwindcss";

:root {
  --background: #0A0917;
  --foreground: #DBCFCF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-k2d: "K2D", sans-serif;
  --font-inter: "inter", sans-serif;
  
}

body {
  background: var(--background);
  color: var(--foreground);
}

a.logo {
  font-family: var(--font-k2d);
  font-weight: 500;
  font-size: 1.5rem;
}
